.wrapperGral{
    background-color: #0090D3;
    background-image: url(../img/game5/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapperGral .wrapperGame{
    display: flex;
    justify-content: center;
}

.container_rack{
    position: absolute;
    top: 21.48%;
    z-index: 1;
    height: 71.87%; 
}

.rack{
    width: 100%;
    height: 100%;
    position: relative;
}
.rack>img{
    height: 100%;
    position: relative;
}

.row {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 18.64%;
    padding: 0 4.7% 0 2.96%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
}
.gameZone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4.7% 0 2.96%;
    box-sizing: border-box;
}
.row::before{
    content: ' ';
    width: 99%;
    height: 29.16%;
    left: 0%;
    background-image: url(../img/game5/TiraPrecio.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    bottom: -8.94%;
}
#section1{
    top: 24.09%;
}
#section2{
    top: 48.4%;
}
#section3{
    top: 72.8%;
}
.panGral{
    width: calc(100% / 9);
    transition: transform 1s ease;
    transform: rotate(0deg);
    cursor: pointer;
}
.panGralTop{
    transform: scaleX(-1);
}
.panGral>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.panGral img{
    width: 100%;
    object-fit: contain;
}
.panGral:focus{
    z-index: 2;
    border: solid 2px #FCB527;
    border-radius: 10px;
    -webkit-filter: drop-shadow(5px 5px 30px #fff);
    filter: drop-shadow(5px 5px 30px #fff);
}

