<head>
    <link rel="stylesheet" href="./shared/css/game4.css">
</head>
<div class="container_rack">
    <div class="rack">
        <img src="./shared/img/game4/Rack.svg"/>
        <div id="section1" class="row">
            <div class="dropZone">
    
            </div>
        </div>
        <div id="section2" class="row">
            <div class="dropZone">
        
            </div>
        </div>
        <div id="section3" class="row">
            <div class="dropZone">
            
            </div>
        </div>
    </div>
</div>
<script src="./shared/js/game4.js"></script>