<head>
    <link rel="stylesheet" href="./shared/css/game6.css">
</head>
<div class="container_rack">
    <div class="rack">
        <div>
            <img class="gameZoneGreen" src="./shared/img/game6/gameGreen.svg"/>
            <div class="gameZone">
                <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
                <img id="goalLine" class="goalLine" src="./shared/img/game6/white-squares.svg" alt="cuadros-blancos">
                <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
            </div>
        </div>
        <div>
            <img src="./shared/img/game6/Rack.svg" alt="rack"/>
            <div id="pan3" class="row">
                <img src="./shared/img/game6/mediasComplete.svg" alt="medias-noches"/>
            </div>
            <div id="pan1" class="row">
                <img src="./shared/img/game6/pan2Complete.svg" alt="pan-integral" />
            </div>
            <div id="pan2" class="row">
                <img src="./shared/img/game6/pan1Complete.svg" alt="pan-blanco"/>
            </div>                        
        </div>
    </div>
 </div>
<script src="./shared/js/game6.js"></script>