<head>
    <link rel="stylesheet" href="./shared/css/game2.css">
</head>
<div class="Game">
    <div class="tienda">
        <img src="./shared/img/game2/tiendita.svg" alt="tiendita"/>
        <div class="wrapperPromos">

        </div>
    </div>
    <div class="globoPromo">
        <img src="./shared/img/game2/colaglobo.svg" />
        <div>
            <p class="textPromo"></p>
            <div class="btnAceptar"><p>Aceptar</p></div>
        </div>
    </div>
    <div class="globoCustomer">
        <img src="./shared/img/game2/globoVerde.svg" />
        <div class="correct">
            <img src="./shared/img/game2/smile.svg"/>
            <p class="textCustomer">¡Me encanta la oferta!<span>¡Me la llevo!</span></p>
        </div>
    </div>
    <div class="customer">
        
    </div>
</div>
<script src="./shared/js/game2.js"></script>