<head>
    <link rel="stylesheet" href="./shared/css/game8.css">
</head>
<div class="Game">
    <div class="poolTiras">
        <div class="wrapperTiras">
            <div data-tipo="M" class="tira tiraM">
                <img src="./shared/img/game8/tiraMorada.png" alt="tiraMorada" />
            </div>
            <div class="count countMorado"></div>
        </div>
        <div class="wrapperTiras">
            <div data-tipo="V" class="tira tiraV">
                <img src="./shared/img/game8/tiraVerde.png" alt="tiraVerde" />
            </div>
            <div class="count countVerde"></div>
        </div>
    </div>
    <div id="cube1" class="parent_cube">
        <div class="cube">
            <div id="dropBlock" class="cube_face cube_face--front"><img src="./shared/img/game8/rackFrentev2.svg" /></div>
            <div id="dropBlock1" class="cube_face cube_face--front"><img src="./shared/img/game8/rackFrenteMid.svg" /></div>
            <div id="dropBlock2" class="cube_face cube_face--front"><img src="./shared/img/game8/rackFrenteMid.svg" /></div>
            <div id="dropBlock3" class="cube_face cube_face--front"><img src="./shared/img/game8/rackFrenteMid.svg" /></div>
            <div id="dropBlockB" class="cube_face cube_face--front"><img src="./shared/img/game8/rackFrenteMid.svg" /></div>
            <div id="letrero" class="cube_face cube_face--front"><img class="letrero" src="./shared/img/game8/rackLetrero.svg" /></div>            
            <div class="cube_face cube_face--right">
                <div class="parentSparkles">
                    <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
                    <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
                </div>
                <div class="dropFace"></div>
                <img src="./shared/img/game8/rackDerechov2.svg" />
            </div>
            <div class="cube_face cube_face--left">
                <div class="parentSparkles">
                    <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
                    <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
                </div>                
                <div class="dropFace"></div>
                <img src="./shared/img/game8/rackIzquierdov2.svg" />
            </div>
        </div>
    </div>
 </div>
<script src="./shared/js/game8.js"></script>