<head>
    <link rel="stylesheet" href="./shared/css/game10.css">
</head>
<div class="Game">
    <div id="qube1" class="parent_qube">
        <div class="parentSparkles">
            <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
            <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
        </div>
        <div class="qube">
            <div class="qube_face qube_face--front"></div>
            <div class="qube_face qube_face--right"></div>
            <div class="qube_face qube_face--back"></div>
            <div class="qube_face qube_face--left"></div>
        </div>
    </div>
    <div id="qube2" class="parent_qube">
        <div class="parentSparkles">
            <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
            <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
        </div>        
        <div class="qube">
            <div class="qube_face qube_face--front"></div>
            <div class="qube_face qube_face--right"></div>
            <div class="qube_face qube_face--back"></div>
            <div class="qube_face qube_face--left"></div>
        </div>
    </div>
    <div id="qube3" class="parent_qube">
        <div class="parentSparkles">
            <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
            <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
        </div>
        <div class="qube">
            <div class="qube_face qube_face--front"></div>
            <div class="qube_face qube_face--right"></div>
            <div class="qube_face qube_face--back"></div>
            <div class="qube_face qube_face--left"></div>
        </div>
    </div>
    <div class="character">
        <img src="./shared/img/game10/Character.svg" alt="personaje"/>
    </div>
</div>
<script src="./shared/js/game10.js"></script>