<head>
    <link rel="stylesheet" href="./shared/css/game7.css">
</head>
<div class="container_rack">
    <div id="resultados">
        <div id="resultado1" class="results"></div>
        <div id="resultado2" class="results"></div>
        <div id="resultado3" class="results"></div>
    </div>
    <div id="dropContainer">
       <div class="imgGame">

       </div>
       <div class="drops">
           <div  class="dropzone empty"></div>
           <div  class="dropzone empty"></div>
           <div  class="dropzone empty"></div>
       </div>
    </div>
    <div id="recursos" class="recursos"></div>
</div>
<script src="./shared/js/game7.js"></script>