<head>
    <link rel="stylesheet" href="././shared/css/game1.css">
</head>
<div class="Game1">
    <div id="mini1" class="miniGame">
        <div class="scene">
            <div class="kube show-front">
                <div id="front" class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-right">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-front">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-front">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
        </div>
        <div class="scene">
            <div class="kube show-front">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-front">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-back">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
            <div class="kube show-front">
                <div id="front"  class="kube__face kube__face--front"></div>
                <div id="back"  class="kube__face kube__face--back"></div>
                <div id="right"  class="kube__face kube__face--right"></div>
                <div id="left"  class="kube__face kube__face--left"></div>
                <div class="kube__face kube__face--top"></div>
                <div class="kube__face kube__face--bottom"></div>
            </div>
        </div>
    </div>
    <div id="mini2" class="miniGame">
        <div class="miniGameCont2">
           
                <div class="repisaTira"></div>
                <div class="tostadoCont">
                    <div class="tostado tLeft"></div>
                    <div class="tostadoParent">
                        <div class="tostadoDrag">
                            <audio class="crunchSfx" controls>
                                <source src="./shared/audio/crunch.mp3"> 
                            </audio>
                            <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div>
                            <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
                        </div>      
                    </div>
                    <div class="tostado tRight"></div>
                </div>
            
        </div>
    </div>
    <div id="mini3" class="miniGame">
        <div class="wrapperGlobos"></div>
        <div class="wrapperTanque">
            <img class="tanque" src="./shared/img/game1/mini3/tanque.svg" alt="tanque"/>
        </div>
        <div id="completeMini3" class="globosComplete"> </div>
    </div>
    <div id="mini4" class="miniGame">
        <div class="manomini4"></div>
        <div id="completeMini4" class="globosComplete"></div>
    </div>    
    <div id="mini5" class="miniGame">
        <div class="rackMini5"></div>
        <div id="completeMini5" class="globosComplete"></div>
    </div>
    <!-- Inicia mini6 -->
    <div id="mini6" class="miniGame">
        <div class="contentMini6">
            <div class="rackSlot">
                <img id="backRack" src="./shared/img/game1/mini6/back-rack.png" alt="back">
                <div class="lines">
                    <div class="lineOne">
                        <img id="line-bimbollos" class="lineProduct" src="./shared/img/game1/mini6/bimbollo-line.png" alt="bimbollos">
                    </div>
                    <div class="lineTwo">
                        <img id="line-medias" class="lineProduct" src="./shared/img/game1/mini6/mediasnoches-line.png" alt="medias noches">
                    </div>
                    <div class="lineThree">
                        <img id="line-pan" class="lineProduct" src="./shared/img/game1/mini6/pan-line.png" alt="medias noches">
                    </div>
                </div>
                <div class="tirasRack">
                    <img id="tirasRack" src="./shared/img/game1/mini6/Tiras.png" alt=tiras">
                </div>
            </div>
            <div class="slot">
                <img id="slotmachine" src="./shared/img/game1/mini6/slot-machine.png" alt="slot">
                <div class="rodillo">
                    <div class="tiraSlot">
                    </div>
                    <div class="tiraSlot2">
                    </div>
                    <div class="tiraSlot3">
                    </div>
                </div>
                <div class="btnSlot">
                    <div class="btnwrap">
                        <img id="btnGirar" src="./shared/img/game1/mini6/btn-gira.png" alt="botón">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Inicia mini7 -->
    <div id="mini7" class="miniGame">
        <div class="miniGameCont7">
            <div class="scratchCont">
                <div class="cursorCleaner"></div>
                <img id="rackDust"  src="./shared/img/game1/mini7/dirtyLayer.svg" alt="">
                <img id="rackClean" src="./shared/img/game1/mini7/cleanLayer.svg" alt="">
                <!-- <img id="rackClean" src="./shared/img/game1/mini7/cleanLayer.svg" alt=""> -->
            </div>
        </div>
    </div>

</div>

<script src="./shared/js/game1.js"></script>