<head>
    <link rel="stylesheet" href="./shared/css/game3.css">
</head>
<div class="container_rack">
    <div class="rack">
        <div class="sparkles_left sparkles"><div><span></span><span></span><span></span></div></div> 
        <div class="tiraCommon tiraGris"></div>
        <div class="tiraCommon tiraColor"><div></div></div>
        <div class="sparkles_right sparkles"><div><span></span><span></span><span></span></div></div>
    </div>
 </div>
<script src="./shared/js/game3.js"></script>