<head>
    <link rel="stylesheet" href="./shared/css/guardar.css">
</head>
<div class="btnSaveInt">
    <img id="btnSaveInt" src='./shared/img/ui/btn-guardar-dark.svg'>
</div>
<div class="categorias">
    <div class="wrapperCanasta">
        <div id="progressCanasta" class="canasta">
            <div class="imgProgress">
                <img src="./shared/img/ui/canasta-color.png" alt="canasta">
            </div>
        </div>
    </div>
    <div class="wrapperIconsCat">
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/bread.svg" alt="pan">
                </div>

            </div>
        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/muffin.svg" alt="pan">
                </div>

            </div>

        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/papas.svg" alt="pan">
                </div>

            </div>

        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/galleta.svg" alt="pan">
                </div>

            </div>

        </div>

        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/tortilla.svg" alt="pan">
                </div>
            </div>
        </div>
    </div>
    <div class="progressCat">
        <div></div>
    </div>
</div>
<div class="saveProgress">
    <h2 id='txtProgress'>Tu progreso ha sido guardado</h2>
    <p id='saveTxt'>¿Deseas seguir en Wow?</p>
    <div class="btnsGuardar">
        <div class="btnSalir btnProg  animate__animated animate__slideInUp">
            <img src="./shared/img/ui/bg-btn-hor-y.svg" alt="btn-salir">
            <p id='btnSalir'>Salir</p>
        </div>
        <div class="btnCont btnProg  animate__animated animate__slideInUp">
            <img src="./shared/img/ui/btn-green-hor.svg" alt="btn-salir">
            <p id='btnCont'>Continuar</p>
        </div>
    </div>
</div>
<script src="./shared/js/guardar.js"></script>