<head>
    <link rel="stylesheet" href="./shared/css/idiomas.css">
</head>
<div class="logoWowIdioma animate__animated animate__fadeInDown">
    <img src="./shared/img/ui/logo-wow.svg" alt="logo-wow">
</div>
<div class="btnGroup">
    <img id="es" class="animate__animated animate__fadeInUp" src="./shared/img/ui/247idioma.svg" 
    onmouseover="this.src='./shared/img/ui/247idioma-dark.svg'"
    onmouseout="this.src='./shared/img/ui/247idioma.svg'" alt="es">
    <img id="en" class="animate__animated animate__fadeInUp disable" src="./shared/img/ui/248idioma.svg"
    onmouseover="this.src='./shared/img/ui/248idioma-dark.svg'"
    onmouseout="this.src='./shared/img/ui/248idioma.svg'"  alt="en">
    <img id="fr" class="animate__animated animate__fadeInUp disable"  src="./shared/img/ui/249idioma.svg"
    onmouseover="this.src='./shared/img/ui/249idioma-dark.svg'"
    onmouseout="this.src='./shared/img/ui/249idioma.svg'"  alt="fr">
    <img id="pt" class="animate__animated animate__fadeInUp disable"  src="./shared/img/ui/250idioma.svg"
    onmouseover="this.src='./shared/img/ui/250idioma-dark.svg'"
    onmouseout="this.src='./shared/img/ui/250idioma.svg'"  alt="pt">
</div>

<script src="./shared/js/idiomas.js"></script>