<head>
    <link rel="stylesheet" href="./shared/css/misiones.css">
</head>

<div class="overlay"></div>
<div class="misionCard">
    <div class="misionTitle">
        <h1 id='titleMision' class="titleMision">Encuentra el objeto perdido</h1>
        <div class="iconMisionCard">
            <img src="./shared/img/ui/stats.svg" alt="mision">
            <p id='numMision'>Mision 1</p>
        </div>
    </div>
    <p id='misionTxt'>Tiene escamas pero no es un pez, tiene corona pero no es un rey.</p>
    <div class="btnSig">
        <img src="./shared/img/ui/bg-btn-hor-y.svg" alt="siguiente">
        <p id='btnSig'>Siguiente</p>
    </div>
</div>
<div class="videoModal">
    <div class="wrapperVideo">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ECuvNgxMZ10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p style= "margin-top: 2%">Es necesario ver el video completo para obtener tu recompensa.</p>
    <div class="btnXMision">
        <img src="./shared/img/ui/btn-x.svg" alt="x">
    </div>
  </div>
  <div class="pdfModal">
    <div class="wrapperPdf">
      <iframe id="iframe" src="" width="100%" height="100%">
      </iframe>
    </div>
    <div class="btnXMision">
        <img src="./shared/img/ui/btn-x.svg" alt="x">
    </div>
  </div>
  
</div>

<script src="./shared/js/misiones.js"></script>