<head>
    <link rel="stylesheet" href="./shared/css/stats.css">
</head>
<div class="btnSaveInt">
    <img id="btnSaveInt" src='./shared/img/ui/btn-score-dark.svg'>
</div>
<div class="categorias">
    <div class="wrapperCanasta">
        <div id="progressCanasta" class="canasta">
            <div class="imgProgress">
                <img src="./shared/img/ui/canasta-color.png" alt="canasta">
            </div>
        </div>
    </div>
    <div class="wrapperIconsCat">
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/bread.svg" alt="pan">
                </div>

            </div>
        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/muffin.svg" alt="pan">
                </div>

            </div>

        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/papas.svg" alt="pan">
                </div>

            </div>

        </div>
        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/galleta.svg" alt="pan">
                </div>

            </div>

        </div>

        <div class="IconContent animate__animated animate__backInRight">
            <div class="iconComponent">
                <div class="bgIcon">
                    <img src="./shared/img/ui/tortilla.svg" alt="pan">
                </div>
            </div>
        </div>
    </div>
    <div class="progressCat">
        <div></div>
    </div>
</div>
<div class="containerMisiones">
    <h2 id='titleMisiones'>Misiones</h2>
    <div class="contentMisiones">
        <div class="swipperMisiones">

        </div>
        <div class="arrowNext">
            <img src="./shared/img/ui/arrow-y-right.svg" alt="next">
        </div>
        <div class="arrowPrev hidden">
            <img src="./shared/img/ui/arrow-y-left.svg" alt="prev">
        </div>
    </div>

</div>
<script src="./shared/js/stats.js"></script>