<head>
    <link rel="stylesheet" href="./shared/css/model.css">
</head>
<div class="overlay"></div>
<div class="toolTip">
    <div class="iconNav">
      <img src="./shared/img/ui/drag-btn.svg" alt="360">
    </div>
    <div class="iconPointer">
      <img src="./shared/img/ui/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="iconNav2">
      <img src="./shared/img/ui/navModel.svg" alt="navmodel">
    </div>
    <div class="iconPointer2">
      <img src="./shared/img/ui/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="cardTool">
      <p id='txtTool'>Clic y arrastrar para poder
        observar al rededor</p>
      <div class="btnXtool">
        <img src="./shared/img/ui/btn-x.svg" alt="x">
      </div>
    </div>

  </div>
  <div class="toolTipLat close">
    <div class="containerBullet">
      <div class="btnXLeft">
        <img src="./shared/img/ui/btn-x.svg" alt="x">
      </div>
      <div class="bullet">
        <img src="./shared/img/ui/bullet.svg" alt="bullet">
      </div>
      <p id='txtToolLat' class="txtTooltip">Este botón nos deja ver el
        tutorial de ayuda</p>
    </div>
  </div>
  <script src="./shared/js/tooltip.js"></script